output/
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
.config
.cproject
.project
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
